%ul{:class => 'nav nav-tabs'}
  %li.nav-item 
    %a{:class => 'nav-link active', :href => transports_path, :title => 'Transports'} Transports
  %li.nav-item 
    %a{:class => 'nav-link active', :href => articles_path, :title => 'Articles'} Articles
  %li.nav-item 
    %a{:class => 'nav-link', :href => new_transport_path, :title => 'New transport'} New Transport